<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @event.start_date %> <%= @event.start_time %>
</p>

<p>
  <strong>To:</strong>
  <%= @event.end_date %> <%= @event.end_time %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Subtext:</strong>
  <%= @event.subtext %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
